*.out
*.rpm
*~
airflowrepo-*-x86_64.cfg
airflowrepo-*-x86_64
airflowrepo.repo
airflowrepo/5/SRPMS/*
airflowrepo/5/x86_64/*
airflowrepo/6/SRPMS/*
airflowrepo/6/x86_64/*
airflowrepo/7/SRPMS/*
airflowrepo/7/x86_64/*
repodata
rpmbuild
epel-*-x86_64.cfg
epel-*-x86_64

