*-x86_64
*-x86_64.cfg
*.out
*.rpm
*~
airflowrepo.repo
airflowrepo/5/SRPMS/*
airflowrepo/5/x86_64/*
airflowrepo/6/SRPMS/*
airflowrepo/6/x86_64/*
airflowrepo/7/SRPMS/*
airflowrepo/7/x86_64/*
repodata
rpmbuild
